<div class="center hero-unit">
	<h1>I. Program</h1><br />
	<h3>Academy for Engineering & Technology</h3>
	<br />
	<div class="well well-large text-left">
		<p>
			Through a partnership with Virginia State University (VSU), New College Institute (NCI) is proud to offer the Academy for Engineering and Technology (AET) to students from Martinsville, Henry County, Carlisle, Pittsylvania County and Danville school systems.   The AET program is currently housed in NCI’s uptown Martinsville campus and the Institute for Advanced Learning and Research (IALR) located in Danville including additional partnership with Danville Community College (DCC). 
		</p>
		<p>
			AET Benefits:
			<ul class="fa-ul">
				<li><i class="fa-li fa fa-gear"></i>The opportunity to earn college credits in engineering and technology.</li>
				<li><i class="fa-li fa fa-gear"></i>Credits may transfer to other ABET accredited universities saving up to $8,000.</li>
				<li><i class="fa-li fa fa-gear"></i>Gain valuable knowledge and experience in careers for which employers are hiring.</li>
				<li><i class="fa-li fa fa-gear"></i>Opportunities for a paid internship within the fields of engineering and technology.</li>
			</ul>
		</p>
	</div>
	<div class="row">
		<%= link_to "Continue", overview_path, class: "btn" %>
	</div>
	<br /><br />
	<div class="row caption">
		<div class="span2">
			<%= image_tag("hcps.jpg") %>
		</div>
		<div class="span2 left">
			<%= image_tag("martinsville.jpg") %>
		</div>
		<div class="span2 center">
			<%=image_tag("carlisle.jpg") %>
		</div>
		<div class="span3">
			<%= image_tag("danville.png") %>
		</div>
		<div class="span1">
			<%= image_tag("pittsylvania.png") %>
		</div>
	</div>
	<div class="row">
		<div class="span1">&nbsp;</div>
		<div class="span2">
			<%= image_tag("nci.png") %>
		</div>
		<div class="span2">
			<%= image_tag("vsu.png") %>
		</div>
		<div class="span1">&nbsp;</div>
		<div class="span2">
			<%= image_tag("ialr.png") %>
		</div>
		<div class="span2">
			<%= image_tag("dcc.png") %>
		</div>
	</div>

</div>