<%= simple_form_for @applicant, html: {id: :applicant_form} do |f| -%>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="row">
		<div class="span3"><%= f.input :first_name, :label => "First Name"  %></div> 
		<div class="span2"><%= f.input :middle_name, :label => "Middle Name" %></div> 
		<div class="span3"><%= f.input :last_name, :label => "Last Name" %></div> 
	</div>
	<div class="row">
		<div class="span8"><%= f.association :school, :input_html => { :id => "schoolchoice" }%></div>
	</div>
	<div class="row">
		<div class="span4"><%= f.input :parent_first_name, :label => "Parent/Guardian First Name" %></div>
		<div class="span4"><%= f.input :parent_last_name, :label => "Parent/Guardian Last Name" %></div>
	</div>
	<div class="row">
		<div class="span8"><%= f.input :address, :label => "Street Address" %></div>
	</div>
	<div class="row">
		<div class="span4"><%= f.input :city %></div>
		<div class="span2"><%= f.input :state, :input_html => {:maxlength => 2, :value => "VA"} %></div>
		<div class="span2"><%= f.input :zip, :label => "5 Digit Zip Code", :input_html => {:maxlength => 5} %></div>
	</div>
	<div class="row">
		<div class="span4">
			<%= f.input :home_phone, :label => "Home Phone", :placeholder => "555-555-1212" %>
			<!--[if IE 9]>
			<p class="gray">Ex: 555-555-1212</p>
			<![endif]-->
		</div>
		<div class="span4">
			<%= f.input :work_phone, :label => "Cell Phone", :placeholder => "555-555-1212" %>
			<!--[if IE 9]>
			<p class="gray">Ex: 555-555-1212</p>
			<![endif]-->
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<%= f.input :parent_texts_ok, label: false, :inline_label =>"It is okay to send information through text messaging." %>
		</div>
	</div>
	<div class="row">
		<div class="span4"><%= f.input :email, :label => "Parent Email" %></div>
		<div class="span4">	<%= f.input :applicant_email, :label => "Student Email" %></div>
	</div>
	<div class="row">
		<div class="span4"><%= f.input :ethnicity, :collection => @ethnicity %></div>
		<div class="span4 text-center">	<%= f.input :gender, :collection => ["Male", "Female"], :as => :radio_buttons, :item_wrapper_class => :inline %></div>
	</div>
	<div class="row">
		<div class="span8">
			<%= f.input :after_graduation_plans, :label => "Upon graduation from high school, I plan to:", :collection => @grad_plans %>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<%= f.input :degree_plans, :label => "If you are planning to enroll in college, please indicate your intended major." %>
		</div>
  </div><br />
	<div class="row">
		<div class="span8">	
			<%= f.input :additional_academic_info, :label => "Additional academic information you would like to include:", as: :text, :input_html => { :rows => 6 } %>
		</div>
	</div>
	<hr />
  <!--
	<div class="row">
		<div class="span8">
		<h4>Essays -</h4><strong>Please limit your responses to approximately 300 words.</strong><br /><br />
		<%= f.input :engineering_essay, :label => "<strong>Essay #1:</strong><br />Tell us about an engineering/technology idea you have, or about your interest in engineering/technology. Describe how your ideas and interests may be realized by your enrollment within the Academy for Engineering and Technology.", as: :text %>
		</div>
	</div>
  -->
  <div class="row">
		<div class="span8">
			<p>
				A writing sample is required for the AET application process to better understand your writing and communication skills, as well as, who you are and what your goals may be for your future. Please be as detailed as necessarily to fully communicate your thoughts, but try to limit your response to <em>no more than 500 words</em>.
			</p>
			<p>
				Describe your interest(s) in STEM related education and possible career choice(s), along with how the Academy for Engineering and Technology can help you attain your goals during and after high school. If you have additional educational or personal interests that hold a special meaning to you, you may discuss them here as well.
			</p>
		</div>
	</div>
		<div class="row">
			<div class="span8">
        <%= f.input :interests_essay, :label => "Type or paste writing sample:", as: :text, :input_html => { :rows => 10 } %>
		</div>
	</div>
	<hr />
	<strong>Teachers Completing Recommendations:</strong>
	<div class="row">
		<div class="span4">
			<%= f.input :math_teacher, :label => "Math Faculty Member Name:", :input_html => {:value => @applicant.math_teacher} %>
		</div>
		<div class="span4">
			<%= f.input :math_teacher_email, :label => "Email:", :input_html => {:value => @applicant.math_teacher_email} %>
		</div>
	</div>
	<div class="row">
		<div class="span4">	
		<%= f.input :science_teacher, :label => "Science Faculty Member Name:", :input_html => {:value => @applicant.science_teacher} %>
		</div>
		<div class="span4">
		<%= f.input :science_teacher_email, :label => "Email:", :input_html => {:value => @applicant.science_teacher_email} %>
		</div>
	</div>
	<div class="row">
		<div class="span4">	
		<%= f.input :english_teacher, :label => "Additional Faculty Member Name:", :input_html => {:value => @applicant.english_teacher} %>
		</div>
		<div class="span4">
		<%= f.input :english_teacher_email, :label => "Email:", :input_html => {:value => @applicant.english_teacher_email} %>
		</div>
	</div>
	<div class="row">
		<div class="span8">	
		<%= f.input :teacher_contacted, label: false, :as => :boolean, :inline_label => "I verify that I have contacted 
					the above teachers concerning these recommendations." %>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="span8">	
			<p class="confirm">
				<%= f.input :applicant_confirmation, label: false, :as => :boolean, :inline_label => "The decision to apply to the Academy for Engineering and Technology is my own, and I want to participate fully in this program. I have read in its entirety the application procedures, including the application forms, and am aware of the appeals process of my school division." %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<p class="confirm">
				<%= f.input :parent_confirmation, label: false, :as => :boolean, :inline_label => "I, the parent/guardian of the above named student, am aware of and am in full support of the student's application to the Academy for Engineering and Technology and give my permission for the student's academic records to be reviewed by the Selection Committee. I have read in its entirety the application procedures, including the application forms, and am aware of the appeals process of my school division." %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span black">
			<br />
			<h2>Promotional Disclaimer</h2>
			<p>
				<strong>
					Please be aware that your photo may be taken throughout the year during classroom and experiential learning activities.  By completing this application, you and your parent/guardian allow and acknowledge that your photo may be published in press releases and/or promotional materials.
				</strong> 
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span8 text-center">			
      <%= f.submit "Submit my information", class: "btn btn-large", data: { disable_with: "Submitting Application..." } %> 
		</div>
	</div>
	<div class="row">
		<div class="span8 text-center">	
      <h3 p class="red">This may take a moment.</h3>
      <h3 p class="red"> Please only press submit once.</h3>
		</div>
	</div>
<% end %>
